{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "jQuery": true,
    "describe": true,
    "it": true,
    "sinon": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-alert": 2,
    "no-array-constructor": 2,
    "no-caller": 2,
    "no-comma-dangle": 0,
    "no-debugger": 2,
    "no-lonely-if": 0,
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "quotes": [2, "single"],
    "jsx-quotes": 0,
    "no-lone-blocks": 2,
    "no-nested-ternary": 1,
    "no-extra-bind": 2,
    "no-eval": 2,
    "camelcase": 0,
    "comma-spacing": 2,
    "max-nested-callbacks": [1, 3],
    "max-params": [0, 3],
    "no-invalid-regexp": 2,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
//    "no-console-log/no-console-log": 1
  }
}