html,
body {
  height: 100%;
}
body {
  background: #2f4050;
  height: 100%;
}
#rootApp {
  min-height: 100%;
}
#main {
  overflow: hidden;
}
#page-wrapper {
  //min-height: 600px !important;
  min-height: 100% !important;
}
.promo-navigation {
  height: 100%;
  background: #2f4050 !important;
  border-radius: 0;
  .user-info {
    color: #fff;
  }
  .nav-link {
    > a {
      padding-left: 40px;
    }
    .icon {
      margin-left: -20px;
    }
  }
}
